.oldComments
    .comment comment
    .comment comment




    form(action=`/posts/${post.id}/comment` method="post")
        h1 comments
        textarea(id=`comment${post.id}` name="content", cols="30", rows="10" placeholder='Comment')
        button.button(class="commentSubmit" type="submit" value=post.id) Send
