extends layout

block content

    div(class='contactContainer')
        h1(style="text-align:center") Meet the Developers! 🤓
        div(class="row")
            div(class="column")
                div(class="card")
                    div(class="container")
                        div(class='imageOne')
                        p(class="homie") Robin
                        p(class="homie") Scavo
                        p(class="linkz") MT
                        div(class='linkHolder')
                            h1(class='linkText') Github
                            a(href="https://github.com/RobinScavo" class="gitbutton")
                        div(class='linkHolder')
                            h1(class='linkText') Linked In
                            a(href="https://www.linkedin.com/in/robin-scavo-0617881b5/" class="buttonb")

            div(class="column")
                div(class="card")
                    div(class="container")
                        div(class='imageTwo')
                        p(class="homie") Maximos
                        p(class="homie") Salzman
                        p(class="linkz") GA
                        div(class='linkHolder')
                            h1(class='linkText') Github
                            a(href="https://github.com/Maximos-S" class="gitbutton")
                        div(class='linkHolder')
                            h1(class='linkText') Linked In
                            a(href="https://www.linkedin.com/in/maximos-salzman-5a7050171/" class="buttonb")

            div(class="column")
                div(class="card")
                    div(class="container")
                        div(class='imageThree')
                        p(class="homie") Kyle
                        p(class="homie") Barthelmes
                        p(class="linkz") OH
                        div(class='linkHolder')
                            h1(class='linkText') Github
                            a(href="https://github.com/Kbart2401" class="gitbutton")
                        div(class='linkHolder')
                            h1(class='linkText') Linked In
                            a(href="https://www.linkedin.com/in/kyle-barthelmes-a5120b51/" class="buttonb")

            div(class="column")
                div(class="card")
                    div(class="container")
                        div(class='imageFour')
                        p(class="homie") Danny
                        p(class="homie") Pong
                        p(class="linkz") NY
                        div(class='linkHolder')
                            h1(class='linkText') Github
                            a(href="https://github.com/pongdanny" class="gitbutton")
                        div(class='linkHolder')
                            h1(class='linkText') Linked In
                            a(href="https://www.linkedin.com/in/danielpong/" class="buttonb")
    div(class='soloFooter')
        h1(class='soloText') Inspired By
        a(class="credits" href="https://www.producthunt.com") Product Hunt
        h1(class='soloText') , check them out here!
