extends layout

block content

    h2(style="text-align:center") Any Questions? Contact Us!
    div(class="row")
    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="title") Robin Scavo
                p(class="linkz") MT    
                a(href="https://github.com/RobinScavo" class="button")
                a(href="https://www.linkedin.com/in/robin-scavo-0617881b5/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="title") Maximos Salzman
                p(class="linkz") GA
                a(href="https://github.com/Maximos-S" class="button") 
                a(href="https://www.linkedin.com/in/maximos-salzman-5a7050171/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="title") Kyle Barthelmes
                p(class="linkz") OH
                a(href="https://github.com/Kbart2401" class="button") 
                a(href="https://www.linkedin.com/in/kyle-barthelmes-a5120b51/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="title") Danny Pong
                p(class="linkz") NY
                a(href="https://github.com/pongdanny" class="button") 
                a(href="https://www.linkedin.com/in/danielpong/" class="buttonb") 
