extends layout

block content

h2(style="text-align:center") Our Team
    div(class="row")
    div(class="column")
        div(class="card")
            img(src="" alt="Jane" style="width:100%")
            div(class="container")
        h2 Jane Doe
        p(class="title") CEO & Founder
        p Some text that describes me lorem ipsum ipsum lorem
        p jane@example.com
        button(class="button") Contact
    div(class="column")
        div(class="card")
            img(src="" alt="Mike" style="width:100%")
            div(class="container")
        h2 Mike Ross
        p(class="title") Art Director
        p Some text that describes me lorem ipsum ipsum lorem.
        p mike@example.com
        button(class="button") Contact

    div(class="column")
        div(class="card")
            img(src="" alt="John" style="width:100%")
            div(class="container")
        h2 John Doe
        p(class="title") Designer
        p Some text that describes me lorem ipsum ipsum lorem.
        p john@example.com
        button(class="button") Contact