extends layout

block content

    h2(style="text-align:center") Any Questions? Contact Us!
    div(class="row")
    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                h2 Robin
                p(class="title") CEO / Founder                
                p robin@sfsg.com
                button(class="button") Contact

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                h2 Max
                p(class="title") Art Director / Designer
                p max@sfsg.com
                button(class="button") Contact

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                h2 Kyle
                p(class="title") Engineer / Developer 
                p kyle@sfsg.com
                button(class="button") Contact