extends layout

block content

    h1(style="text-align:center") Meet the Developers! 🤓
    div(class="row")
    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="homie") Robin Scavo
                p(class="linkz") MT    
                a(href="https://github.com/RobinScavo" class="gitbutton")
                a(href="https://www.linkedin.com/in/robin-scavo-0617881b5/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="homie") Maximos Salzman
                p(class="linkz") GA
                a(href="https://github.com/Maximos-S" class="gitbutton") 
                a(href="https://www.linkedin.com/in/maximos-salzman-5a7050171/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="homie") Kyle Barthelmes
                p(class="linkz") OH
                a(href="https://github.com/Kbart2401" class="gitbutton") 
                a(href="https://www.linkedin.com/in/kyle-barthelmes-a5120b51/" class="buttonb") 

    div(class="column")
        div(class="card")
            img(src="" alt="" style="width:100%")
            div(class="container")
                p(class="homie") Danny Pong
                p(class="linkz") NY
                a(href="https://github.com/pongdanny" class="gitbutton") 
                a(href="https://www.linkedin.com/in/danielpong/" class="buttonb") 
