extends layout.pug
include utils.pug
block content
    form(action="/users" method="POST")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Name", "name", "text")
        +field("City", "city", "text")
        +field("Email", "email", "email")
        div(class="form-group")
            label(for="bio") Biography
            textarea(type="text" name="bio" id="bio")
        div(class="form-group")
            button(type="submit" class="button") Submit
        div(class="form-group")
            a(href="/" class="button") Cancel