extends layout.pug
include utils.pug

  link(rel="stylesheet" href="/stylesheets/form.css")

block content
  if errors 
    ul
      each error in errors
        li= error
        
  div Submit a post here!
  form(action="/posts" method="POST")
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="content") Content
    textarea(name="content" value=content)
    label(for="announcements") Announcements
    textarea(name="announcements" value=announcements)
    label(for="imageUrl") Select an Image
    select(name="imageUrl")
      option(value='test')
    button(type="submit") Submit 
    a(href="/") Cancel