extends layout.pug
include utils.pug


block content
  if errors 
    div(class="error-container" id="error-container")
      div(id="exit") x
      div(class="errorlist")
        ul(class="list")
          each error in errors
            li= error
  div Submit a post here!
  div(class="form-container-posts")
    form(action="/posts" method="POST" class="login")
      div(class="formlogin")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="content" )
        textarea(class="formField" placeholder="Content" class="bioField" name="content" value=content)
      div(class="formlogin")
        label(for="announcements")
        textarea(class="formField" placeholder="Announcements" class="bioField" name="announcements" value=announcements)
      div(class="formlogin")
        label(for="imageUrl")
        select(name="imageUrl" class="theme-construction")
          option(value='test') Test
          option(value='test') Test
          option(value='test') Test
          option(value='test') Test
      div(class="formButtonsPosts" class="formlogin")
        button(type="submit" class="button") Submit 
        a(href="/" class="button") Cancel