extends layout

block content

    div(class="faq-header") Frequently Asked Questions
    
    div(class="faq-content")
        div(class="faq-question")
            input(id="q1" type="checkbox" class="panel")
            div(class="plus") +
            label(for="q1" class="panel-title") What's So Fresh, So Green?
            div(class="panel-content") We are a team of handsome young individuals who believed in a better way to connect local farms to reach more traffic. Our community consists of a diverse group of neighbors and friends from the Ohio state area who share farms, products and services to one another, maintaining a similar philosophy and goal!

        div(class="faq-question")
            input(id="q2" type="checkbox" class="panel")
            div(class="plus") +
            label(for="q2" class="panel-title") How does So Fresh, So Green work?
            div(class="panel-content") We provide an online platform for farmers, growers and vendors included to share their recent updates on harvests, local market events, and much more! We pride ourselves in assisting our clientele with a seamless system where users can start posting their content with a simple click of a button!

        div(class="faq-question")
            input(id="q3" type="checkbox" class="panel")
            div(class="plus") +
            label(for="q3" class="panel-title") Who's the most handsome guy in So Fresh, So Green?
            div(class="panel-content") Definitely gotta be Danny😏

