

block content

    div(class='mainFooter')
        div(class='devImageOne')
        div(class='devImageTwo')
        a(href="/contact" class='devText') ⇜ Meet the Developers ⇝
        div(class='devImageThree')
        div(class='devImageFour')
        a(href="/posts" class="formbutton" class="createButton") Post!
