extends layout

append head
  //- add page specific styles by appending to the head
  meta(charset="UTF-8")
  meta(charset="UTF-16")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  link(href="/card.css")


block content
  h1= title

  .farm-feed__container
    .farm-feed__fake-adds
    .farm-feed__main
      each post in posts
        include card.pug 
    .farm-feed__profiles

