extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  meta(charset="UTF-8")
  meta(charset="UTF-16")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  link(href="/card.css")


block content
  h1= title
  if user
    div(class="create-post")
      a(href="/posts" class="formbutton") CREATE POST

  .farm-feed__container
    .farm-feed__fake-adds
    .farm-feed__main
      each post in posts
        include card.pug 
    .farm-feed__profiles

