doctype html
html
  head
      block head
        title="SFSG"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        
  body
    div(class="navbar") 
      div(class="logo") 
      div(class="searchBar") 
        form(method="POST" action="/")
            input(type="search" placeholder="search")
      a(href="" class="category1") robin
      a(href="" class="category2") max
      a(href="" class="category3") kyle
      h1(class="title") 
      if user
        a(href="/users/logout" class="logout-button") Log Out
        div(class="welcomeDiv")= `Welcome ${user.name}`
      if !user
          a(href="/users/login" class="login-button") Login
          a(href="/users/" class="signup-button") Sign Up
    block content

    