extends layout

block content

    h1(style="text-align:center; margin-top: 70px;") Here are our Recommended Local Farms!
    div(style="position: fixed" class="yerr")
        div(class='farmDiv')
            h2(class="farmText") Oak Top Farm
            h2(class="farmText") Thornville, OH
            a(href="https://www.localharvest.org/oak-top-farm-M72507" class="farmImage img1")
        div(class='farmDiv')
            h2(class="farmText") Callan Cattle Co.
            h2(class="farmText") Newark, OH
            a(href="https://www.localharvest.org/callan-cattle-co--M50302" class="farmImage img2")
        div(class='farmDiv')
            h2(class="farmText") Meadow Rise Farm
            h2(class="farmText") Bellville, OH
            a(href="https://www.localharvest.org/meadow-rise-farm-M8651" class="farmImage img3")
        div(class='farmDiv')
            h2(class="farmText") Belted Oak Ranch
            h2(class="farmText") Creston, OH
            a(href="https://www.localharvest.org/belted-oak-ranch-M77126" class="farmImage img4")
        div(class='farmDiv')
            h2(class="farmText") Culler Mill Farm, LLC
            h2(class="farmText") Lucas, OH
            a(href="https://www.localharvest.org/culler-mill-farm-llc-M76440" class="farmImage img5")
        div(class='farmDiv')
            h2(class="farmText") Paiges' Produce
            h2(class="farmText") Amanda, OH
            a(href="https://www.localharvest.org/paiges-produce-M15746" class="farmImage img6")
        div(class='farmDiv')
            h2(class="farmText") 3PeasMarketGarden
            h2(class="farmText") New Philadelphia, OH
            a(href="https://www.localharvest.org/3peasmarketgarden-M77826" class="farmImage img7")
        div(class='farmDiv')
            h2(class="farmText") Rustling Oaks Farm
            h2(class="farmText") Richwood, OH
            a(href="https://www.localharvest.org/rustling-oaks-farm-M30773" class="farmImage img8")
        div(class='farmDiv')
            h2(class="farmText") Wandering Steer Cattle, LLC
            h2(class="farmText") Bremen, OH
            a(href="https://www.localharvest.org/wandering-steer-cattle-llc-M77642" class="farmImage img9")
        div(class='farmDiv')
            h2(class="farmText") County Line Family Farm
            h2(class="farmText") Wadsworth, OH
            a(href="https://www.localharvest.org/county-line-family-farm-M67993" class="farmImage img10")
        div(class='farmDiv')
            h2(class="farmText") Strawberry Hill Farm Ltd.
            h2(class="farmText") Fresno, OH
            a(href="https://www.localharvest.org/strawberry-hill-farm-ltd--M8581" class="farmImage img11")
        div(class='farmDiv')
            h2(class="farmText") Champaign Berry Farm
            h2(class="farmText") Urbana, OH
            a(href="https://www.localharvest.org/champaign-berry-farm-M25005" class="farmImage img12")
    include footer.pug
