extends layout

block content

    h1(style="text-align:center") Here are our Recommended Local Farms!
    div(class="yerr")
        h2 Oak Top Farm | Thornville, OH
            a(href="https://www.localharvest.org/oak-top-farm-M72507" class="img1")
        h2 Callan Cattle Co. | Newark, OH
            a(href="https://www.localharvest.org/callan-cattle-co--M50302" class="img2")
        h2 Meadow Rise Farm | Bellville, OH 
            a(href="https://www.localharvest.org/meadow-rise-farm-M8651" class="img3")
        h2 Belted Oak Ranch | Creston, OH
            a(href="https://www.localharvest.org/belted-oak-ranch-M77126" class="img4")
        h2 Culler Mill Farm, LLC | Lucas, OH 
            a(href="https://www.localharvest.org/culler-mill-farm-llc-M76440" class="img5") 
        h2 Paiges' Produce | Amanda, OH
            a(href="https://www.localharvest.org/paiges-produce-M15746" class="img6")
        h2 3PeasMarketGarden | New Philadelphia, OH 
            a(href="https://www.localharvest.org/3peasmarketgarden-M77826" class="img7")
        h2 Rustling Oaks Farm | Richwood, OH 
            a(href="https://www.localharvest.org/rustling-oaks-farm-M30773" class="img8")
        h2 Wandering Steer Cattle, LLC | Bremen, OH
            a(href="https://www.localharvest.org/wandering-steer-cattle-llc-M77642" class="img9")
        h2 County Line Family Farm | Wadsworth, OH
            a(href="https://www.localharvest.org/county-line-family-farm-M67993" class="img10")
        h2 Strawberry Hill Farm Ltd. | Fresno, OH
            a(href="https://www.localharvest.org/strawberry-hill-farm-ltd--M8581" class="img11")
        h2 Champaign Berry Farm | Urbana, OH
            a(href="https://www.localharvest.org/champaign-berry-farm-M25005" class="img12")
