extends layout.pug
include utils.pug
block content
    if errors 
        ul
            each error in errors
                li= error
    form(action="/users/login" method="POST" class="login")
        input(type="hidden" name="_csrf" value=csrfToken)
        +field("Email", "email", "email", email)
        +field("Password", "password", "password")
        div(class="loginbuttonfam")
            button(type="submit" class="loginbutton") Submit
            a(href="/users" class="loginbutton") New User?
            a(href="/" class="loginbutton") Cancel