extends layout.pug
include utils.pug
block content
append head 
    script(src="/javascripts/errors.js" type="module" defer)
    if errors
        div(class="screen-blur")
        div(class="error-container" id="error-container")
            div(id="exit") x
            div(class="errorlist")
                ul(class="list")
                    each error in errors
                        li= error
    div(class="form-container")
        div(class="form-title")= title
        form(action="/users/login" method="POST" class="login")
            input(type="hidden" name="_csrf" value=csrfToken)
            +field("Email", "email", "email", email)
            +field("Password", "password", "password")
            div(class="submit")
                button(type="submit" class="button" class="submitButton") Submit
            div( class="formButtons")
                a(href="/users" class="button") Sign Up
                a(href="/" class="button") Cancel