extends layout.pug

block content
  .page-container
    .profile-header
      .profile-icon
      .profile-info
        h2 #{user.name} 🌽
        .email= user.email
        h3: strong Bio
        p #{user.bio}
    .profile-options-container
      .profile-options-links
        span#your-activity YOUR ACTIVITY
        span#others-activity &nbsp; OTHERS ACTIVITY

    .your-activity-container
      each post in posts
        include card.pug


  