.fullCard {
  display: flex;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  flex-direction: column;
  height: auto;
  width: 450px;
  border: 3px solid #368A42;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  margin-top: 13px;
}

.farmFeed {
  display: flex;
  flex-direction: column;

}

.header {
  overflow: scroll;
  height: 45%;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.textBox {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.imageBox {
  height: 45%;
  width: 95px;
}

.descriptionDiv {
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.announcements {
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.announcement {
  padding-left: 3px;
  padding-top: 3px;
}

.announcementDiv {
  height: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  /* align-items: center; */
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  height: 15%;
  border-top: 1px solid rgba(54, 138, 66, 0.3);
  padding-top: 10px;
}

.commentsDiv {
  height: 35px;
  width: 55px;
  border: 1px solid rgba(54, 138, 66, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  /* padding-bottom: 2px; */
}

.comments {
  color: gray;
  padding-bottom: 4px;
  padding-left: 10px;
}

.replyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  padding-bottom: 3px;
  color: rgba(54, 138, 66, 0.7);
}


.info {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.name {
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
  /* padding-right: 20px; */
}


.upvoteDiv {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffc200;
  background-color: rgb(54, 138, 66);
  height: 45px;
  width: 45px;
  margin-left: 15px;
  /* border: 1px solid black; */
  border-radius: 20%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 14px;
  padding-bottom: 1px;
}

p.comments {
  padding-left: 2px;
  color: rgba(54, 138, 66, 0.7)
}

.upvote {
  font-size: 14px;
  color: #ffc200;
  margin: auto;
  padding-bottom: 7px;
  padding-left: 0;
}

span.comments {
  padding-left: 2px;
  color:   rgba(54, 138, 66, 0.7);
}

p.replyFav {
  font-size: 22px;
  padding-left: 0px;
}

.city {
  padding-left: 34px;
  padding-top: 5px;
  font-size: 14px;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

p.reply {
  padding-left: 2px;
  font-size: 14px;
}

.description {
  padding-top:15px;
  color: black;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.email {
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cardImage {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 20%;
}

.upvotes {
  font-size: 15px;
  padding-bottom: 6px;
}

span.voteSpan {
  color: #ffc200;
  font-size: 20px;
}

span {
  color: rgba(54, 138, 66, 0.7);
}

.reply {
  padding-left: 3px;
}
