.farmFeed {
  display: flex;
  flex-direction: column;
}

.cardWithComments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullCard {
  position: relative;
  display: flex;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  flex-direction: column;
  height: auto;
  width: 500px;
  border: 3px solid #368A42;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: whitesmoke;
  margin-top: 13px;
  overflow: hidden;
  border: 0px;
}

.banner {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
    font-family: "Work Sans",
    Arial,
    Helvetica,
    sans-serif;
  height: 50px;
  width: 500px;
  display: flex;
  color: #ffc200;
  background-color: #368A42;
}

.name {
  justify-self: center;
  font-size: 30px;
  margin-left: 20px;
}

.city {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-right: 20px;
  padding-top: 8px;
  justify-self: end;
}

.upper {
  display: flex;
  margin-top: 10px;
  height: 88px;
}

.cardImage {
  margin-top: 10px;
  margin-left: 10px;
  height: 85px;
  width: 85px;
  border-radius: 10%;
}

.announcementDiv {
  width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
}

.announcements {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.announcement {
  padding-left: 5px;
}

.upvoteDiv {
  position: relative;
  font-size: 25px;
  display: flex;
  justify-self: right;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #ffc200;
  background-color: rgb(54, 138, 66);
  height: 45px;
  width: 45px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10%;
}

.upvoteDiv:hover {
  bottom: 2px;
  box-shadow: 0px 0px 10px#ffc200;
}

.descriptionDiv {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.emailDiv {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.email {
  padding-bottom: 0px;
  font-family: Arial,
  Helvetica,
  sans-serif;
  font-weight: bold;
}

.editDiv {
  position: relative;
  left: 125px;
  /* bottom: 5px; */
  /* background-color: whitesmoke; */
  /* padding-bottom: 10px; */
}

.editButton {
  position: relative;
  background-color: whitesmoke;
  color: rgba(54, 138, 66, 0.7);
  text-decoration: none;
}

.editButton:hover {
  bottom: 2px;
  color: rgb(54, 138, 66);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  border-top: 1px solid rgba(54, 138, 66, 0.3);
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  color: rgba(54, 138, 66, 0.7);
  /* padding-bottom: 22px; */
}


.bubbleDiv {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: rgba(54, 138, 66);
  border: none;
  color: #ffc200;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  /* margin-bottom: 5px; */
  /* padding-bottom: 2px; */
  color: #ffc200;
}

.bubbleDiv:hover {
  cursor: pointer;
}
.comments {
  color: gray;
  padding-bottom: 4px;
  padding-left: 10px;
  bottom: 2px;
  box-shadow: 0px 0px 10px#ffc200;
}

.fancyCommentDiv {
  display: flex;
  position: relative;
  right: 100px;
  padding-top: 8px;
  color: rgba(54, 138, 66, 0.7);
}

.postedDateDiv {
  display: flex;
  flex-direction: row;
  padding-top: 7px;
  font-size: 14px;
}

.fancyPostedDiv {
  display: flex;
  flex-direction: row;
}

.postedFav {
  padding-left: 2px;
}

.postedBox {
  padding-left: 12px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
  padding-bottom: 1px;
}

p.fancyFav {
  font-size: 22px;
  padding-left: 0px;
}

p.reply {
  padding-left: 2px;
  font-size: 14px;
}

span {
  color: rgba(54, 138, 66, 0.7);
}

.commentForm {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

/* .commentSubmit {
  width: 40px;
  background-color: #368A42;
} */

.commentListHidden {
  display: none;
}

.commentsDiv {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid  #368A42; */
}

.newComment {
  height: 30px;
  width: 450px;
  padding-top: 5px;
  padding-left: 5px;
  color:whitesmoke;
  border-left: 3px solid  #368A42;
  border-right: 3px solid  #368A42;
  border-bottom: 3px solid  #368A42;
  border-top: 1.5px solid #ffc200;
}

.commentBox {
  position: relative;
  /* border-bottom: 2px solid #368A42; */
  text-align: start;
  overflow: hidden;
  /* background-color: whitesmoke; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 450px;
  border-left: 2px solid  #368A42;
  border-right: 2px solid  #368A42;
  padding-bottom: 5px;
}

.comment{
  position: relative;
  height: auto;
  display: flex;
  flex: none;
  overflow: hidden;
  width:100%;
  max-width: 265px;
  text-align: start;
  /* background-color: whitesmoke; */
      font-family: "Work Sans",
      Arial,
      Helvetica,
      sans-serif;
}

.newComment {
  background-color: #368A42;
  /* color: whitesmoke; */
  resize: none;
  width: 450px;
  border-radius: 0px 0px 0px 10px;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
  border-top: unset;
}
.newComment::placeholder {
  padding-top: 0px;
  padding-left: 3px;
  color: #ffc200;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
}
.newComment:focus {
  outline: none;
}


.commentSubmit {
  background-color: #ffc200;
  color: #368A42;
  border: unset;
  border-radius: 0px 0px 10px 0px;
  text-align: center;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
  width: 60px;
  /* border:unset; */
}


.deleteCommentButton {
  color: rgba(54, 138, 66, 0.7);
  text-align: center;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
  width: 57px;
  height: auto;
  border:unset;
  background-color: white;
}

.deleteCommentButton:hover {
  bottom: 2px;
  color: rgb(54, 138, 66);

}

.viewCommentsButton {
  background-color: #368A42;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
  font-weight: bold;
  font-size: 20px;
}

button:focus {
  outline:none
}

input:focus {
  outline: none;
}


.commentUser {
  display: flex;
  align-items: flex-end;
  flex: none;
  width: auto;
  /* background-color: whitesmoke; */
  color: #368A42;
  font-family: "Work Sans",
  Arial,
  Helvetica,
  sans-serif;
  font-weight: bold;
  padding-left: 17px;
  padding-right: 5px;
}

.descriptionDiv > p {
  font-size: 20px;
}

.fancyCommentFav {
  position: relative;
  top: 2px;
  color: #368A42;
  padding-left: 2px;
  font-size: 20px;
}

.circleDiv {
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ffc200;
  box-shadow: 0px 0px 10px#ffc200;
  margin: 4px;
  margin-bottom: 6px;
}

.circleUserDiv {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #368A42;
    box-shadow: 0px 0px 10px#ffc200;
    margin: 4px;
    margin-bottom: 6px;
}
