@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

.linkz {
  padding: 8px;
  font-size: 24px;
}

.yerr {
  column-count: 3;
  padding-left: 175px;
  padding-top: 25px;
}

.img1 {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/26/15/17/vineyard-428041_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img2 {
  background-image: url("https://cdn.pixabay.com/photo/2013/08/28/00/54/field-176602_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img3 {
  background-image: url("https://cdn.pixabay.com/photo/2017/05/19/15/16/countryside-2326787_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img4 {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/30/15/23/apple-1873078_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img5 {
  background-image: url("https://cdn.pixabay.com/photo/2017/07/20/15/21/cock-2522623_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img6 {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/19/17/23/countryside-1149680_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img7 {
  background-image: url("https://cdn.pixabay.com/photo/2014/12/02/03/11/grapes-553464__480.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img8 {
  background-image: url("https://cdn.pixabay.com/photo/2013/11/19/17/20/field-213364__480.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img9 {
  background-image: url("https://cdn.pixabay.com/photo/2014/07/06/17/20/tractor-385681__480.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img10 {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/10/17/31/sheep-2625347__480.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img11 {
  background-image: url("https://cdn.pixabay.com/photo/2019/08/06/13/07/sunflowers-4388346_1280.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}

.img12 {
  background-image: url("https://cdn.pixabay.com/photo/2020/08/18/21/49/horses-5499465__480.jpg");
  background-size: 100% 100%;
  height: 150px;
  display: flex;
  cursor: pointer;
  width: 60%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #368a42;
  width: 90%;
}

.container {
  padding: 0 16px;
  padding-bottom: 30px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.homie {
  color: #ffc200;
  padding: 10px;
  font-size: 30px;
}

.gitbutton {
  background-image: url("github.png");
  background-size: 100% 100%;
  display: flex;
  height: 200px;
  padding: 10px;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 100%;
}

.buttonb {
  background-image: url("inkedin.png");
  background-size: 110% 105%;
  background-position: -16px;
  display: flex;
  height: 200px;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #ffc200;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
