.dropbtn {
  background-image: url("burger.png");
  background-color: #368a42;
  background-size: 100% 100%;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 30px;
  width: 35px;
  /* border-radius: 1px; */
  position: relative;
  right: 35px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.navDrop {
  display: none;
  position: absolute;
  background-color: #368a42;
  top: 33px;
  left: -3px;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}
.profDrop {
  display: none;
  position: absolute;
  background-color: #368a42;
  min-width: 145px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffc200;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-radius: 50px;

}
