.farm-feed__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border: 5px solid white;
  width: 1200px;
}

.farm-feed__container > div{
  padding: 15px;
  height: auto;
}
.farm-feed__fake-adds {
  width: 325px;
  background-color: white;
}

.farm-feed__main {
  width: 550px;
}

.farm-feed__profiles {
  width: 325px;
  background-color: white;
}

.page-title {
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

.title-sub {
  width: 150px;
  height: 25px;
  margin: 0;
  text-align: center;
  z-index: 9;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  padding: 5px 0 0 22px;
}
