.farm-feed__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  /* border: 5px solid white; */
  width: 1200px;
}

.farm-feed__container > div{
  padding: 15px;
  height: auto;
}
.farm-feed__fake-adds {
  width: 325px;
  /* background-color: white; */
}

.farm-feed__main {
  width: 550px;
}

.farm-feed__profiles {
  width: 325px;
  /* background-color: white; */
}

.title-sub {
  width: 180px;
  height: 25px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  z-index: 9;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  padding: 5px 0 0 0px;
}

.search-text {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mainTitle {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  color: #368A42;
    font-family: "Work Sans",
    Arial,
    Helvetica,
    sans-serif;
    font-weight: bold;
}

button:hover {
  cursor: pointer;
}
