@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.form-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    /* align-content: center; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    height: 600px;
    margin: auto;
    margin-bottom: 50px;
    padding: 25px
}

.form-container-login {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    /* align-content: center; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    height: 280px;
    margin: auto;
    margin-bottom: 50px;
    padding: 25px
}
.form-container-posts{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    /* align-content: center; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
    padding: 25px
}

.formlogin {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.formField {
    width: 300px;
    border: 3px solid #ffc200;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #9dbfaf;
    font-weight: bold;
    color: #368a42;
    font-family: "Work Sans",
    Arial,
    Helvetica,
    sans-serif;
}

.formField:focus {
    color: #368a42;
}

.bioField {
    max-width: 300px;
    max-height: 150px;
    min-width: 300px;
    min-height: 150px;
    resize: none
}

.button {
    background-color: #368a42;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 12px;
    text-decoration: none;
        font-family: "Work Sans",
        Arial,
        Helvetica,
        sans-serif;
    width: 145px;
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
}

.formButtons {
    display: flex;
    justify-content: space-between;
    width: 300px
}

.formButtonsPosts {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.submitButton {
    width: 300px;
}

.error-container {
    position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 200px;
        overflow: hidden;
        /* align-content: center; */
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        width: 200px;
        max-width: 100%;
        height: 200px;
        margin-bottom: 50px;
        padding: 10px;
        padding-bottom: 10px;
        z-index: 1;
        -ms-overflow-style: none;
        scrollbar-width: none;
        font-family: "Work Sans",
        Arial,
        Helvetica,
        sans-serif;

}

.error-container::-webkit-scrollbar {
    display: none;
}

#exit {
    position: sticky;
    top: -5px;
    left: 170px;
    font-family: "Work Sans",
    Arial,
    Helvetica,
    sans-serif;
    color: red;
    font-size: 20px;
    z-index: 2;
}
#exit:hover {
    cursor: pointer;
}
.errorList {
    position: absolute;
    width: 150px;
    overflow: scroll;
}

.list {
    list-style: none;
}

.theme-construction {
    --radius: 0;
    --baseFg: #368a42;
    --baseBg: #ffc200;
    --accentFg: #ffc200;
    --accentBg: #368a42;
}

select {
    font-family: "Work Sans",
    Arial,
    Helvetica,
    sans-serif;
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
    color: var(--baseFg);
    border: 0px solid var(--baseFg);
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: 10px;
    background-color: var(--baseBg);
    background-image: linear-gradient(var(--baseFg), var(--baseFg)),
        linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
        linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

/* #error-container {
    display: none;
} */