.navbar {
  height: 70px;
  width: 100%;
  background-color: #368a42;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: white;
  min-width: 1000px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.title {
  color: #ffc200;
}

.createButton {
  background-color: #ffc200;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  width: 100px;
  margin: 5px;
}

.navbuttonfam {
  display: flex;
  justify-content: center;
  width: 250px;
  color: #333;
  margin-right: 50px;
}

.loginbuttonfam {
  display: flex;
  justify-content: space-evenly;
  width: 275px;
  color: #333;
}

.loginbutton {
  margin-right: 15px;
  margin-top: 10px;
}

.navbutton {
  background-color: #ffc200;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px;
  text-decoration: none;
}

.navbutton:hover {
  background-color: yellow;
}

.logo {
  background-image: url(./logomockup.png);
  background-size: 100% 100%;
  width: 106px;
  height: 50px;
  padding: 10px;
  margin-left: 45px;
  cursor: pointer;
  margin-right: 20px;
}

.title {
  color: #ffc200;
}
.categoryfam {
  display: flex;
  width: 350px;
  justify-content: space-around;
}

.category {
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 12px;
  text-decoration: none;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  width: 145px;
  text-align: center;
}
.category:hover {
  background-color: #ffc200;
  border-radius: 5px;
}

.dotsmenu:hover {
  background-color: #ffc200;
  border-radius: 5px;
}

.formlogin {
  margin-top: 5px;
  margin-left: 10px;
}
