.navbar {
  height: 55px;
  width: 100%;
  background-color: #368A42;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: white;
  min-width: 1000px;
}

.logo {
  background-image: url(./sfsg.png);
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 30px;
}

.title {
  color: #ffc200;
}

.navbuttonfam {
  display: flex;
  justify-content: space-around;
  width: 250px;
  color: #333;
  margin-right: 120px;
}

.loginbuttonfam {
  display: flex;
  justify-content: space-evenly;
  width: 275px;
  color: #333;
}

.loginbutton {
  margin-right: 15px;
  margin-top: 10px;
}

.navbutton {
  background-color: #ffc200;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  text-decoration: none;
}

.navbutton:hover {
  background-color: yellow;
}

.logo {
  background-image: url(./logomockup.png);
  background-size: 100% 100%;
  width: 106px;
  height: 50px;
  padding: 10px;
}

.title {
  color: #ffc200;
}
.categoryfam {
  display: flex;
  width: 350px;
  justify-content: space-around;
  text-decoration: none;
}

.searchbar {
  border-radius: 5px;
}

.formlogin {
  margin-top: 5px;
  margin-left: 10px;
}
