.page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.profile-header {
  height: 250px;
  width: 1000px;
  border: 3px solid #ffc200;
  background-image: url('../images/profile-background.jpg');
  background-position: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.profile-icon {
  height: 180px;
  width: 180px;
  background-image: url('../images/farmer-avatar.jpg');
  background-position: center;
  background-size: 100%;
  margin-left: 60px;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-info {
  height: 100%;
}

.profile-header h2 {
  font-size: 30px;
  padding: 20px 20px 0 20px;
  margin-top: 30px;
}

.profile-header h3, p, .email {
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0;
}

.profile-options-container {
  width: 1000px;
  height: 65px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
}

.profile-options-links {
  width: 280px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-options-links > span {
  font-size: 14px;
}

#your-activity, #your-posts {
  cursor: pointer;
}