.welcomeDiv {
  background-image: url('../images/farmer-avatar.jpg');
  background-size: 100% 100%;
  height: 45px;
  width: 45px;
  z-index: 1;
  align-self: flex-start;
  border-radius: 50%;
  position: relative;

}

.welcome-sign {
  width: 100px;
}


.nav-links {
  background-color: aqua;
  position: absolute;
  margin-top: 50px;
  width: 100px;
}

.nav-links li {
  list-style-type: none;
}

.hidden {
  display: none;
}
